@media (max-width: 400px) {
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 5px;
  }
  .product img {
    height: 150px;
  }

  .budge {
    font-size: 18px;
  }

  .product h2 {
    font-size: 18px;
  }

  .product .description {
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
  }
}
