*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --primary-color: #07021e;
    --white: #fafafa;
    --black: #181818;
    --gray: #282727;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--black);
}

.hidden{
    display: none !important;
}

.container{
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
}

#videoFrame{
    position: relative;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.thumb{
    width: 920px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    background: url(https://ingresso-a.akamaihd.net/prd/img/movie/a-forja-o-poder-da-transformacao/66030644-61fd-4939-83a1-04e0115ffe19.webp) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 1;

}

.play-icon{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: #e41010;
    padding: 25px;
    padding-left: 30px;
    border-radius: 120%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px 0px, rgba(27, 31, 35, 0.20) 0px 0px 0px 1px;
    cursor: pointer;
}

.play-icon svg path{
    fill: var(--white);
}

.titleVideo{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 99;
    color: var(--white);
    display: none;
    opacity: 0;


}

#videoFrame:hover .titleVideo{
    display: block;
    opacity: 1;
    animation: inRight .3s forwards;


}

#videoDescription{
    max-width: 100%;
    color: var(--white);
    opacity: 0;
    text-align: center;
    animation: inUp .8s forwards;

    span{
        font-weight: 600;
    }
}

#doarButton{
    background-color: rgb(36, 228, 78);
    transform: translateX(0);
    animation: inRight .5s forwards;

}

@keyframes inUp {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
        
    }

@keyframes inRight {
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 475px) {
    .titleVideo{
        width: 200px;
        font-size: 16px !important;
        right: 40px;
        text-align: end;
    }  
}

@media (min-width: 476px) and (max-width: 635px) {
    .titleVideo{
        width: 400px;
        right: 40px;
        text-align: end;
    
    }  
}